@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200&family=Lexend:wght@600;700&display=swap");

.nav-pills li a:hover {
  background-color: white;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  scroll-behavior: smooth;
  /* font-family: "Lexend", sans-serif;
  font-family: "Lexend Deca", sans-serif; */
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background: #8eac50;
  transition: all 0.5s ease;
  z-index: 1000;
}

.sidebar header {
  font-size: 22px;
  color: white;
  text-align: center;
  line-height: 70px;
  background: #709031;
}

.sidebar ul a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 16px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-top: 1px solid rgb(255, 255, 255, 0.1);
  border-bottom: 1px solid #709031;
  transition: 0.4s;
}

.sidebar ul li:hover a {
  padding-left: 50px;
  color: #8eac50;
  background: white;
  text-decoration: none;
}

.sidebar ul a i {
  margin-right: 16px;
}

#check {
  display: none;
}

label #btn,
label #cancel {
  position: absolute;
  cursor: pointer;
  background: #8eac50;
  border-radius: 3px;
}

label #btn {
  left: 40px;
  top: 25px;
  font-size: 20px;
  color: white;
  padding: 6px 12px;
  transition: all 0.5s ease;
}

label #cancel {
  z-index: 1111;
  left: 195px;
  top: 17px;
  font-size: 15px;
  padding: 4px 9px;
  transition: all 0.5s ease;
}

#check:checked ~ .sidebar {
  left: -250px;
}

#check:checked ~ label #btn {
  left: 50px;
  /* opacity: 0;
  pointer-events: none; */
}

#check:checked ~ label #cancel {
  left: -50px;
}

#check:checked ~ section {
  margin-left: 250px;
}

#logbook {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #fefdfd;
}

.card {
  width: 500px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 60px;
}

#card-header {
  width: 100%;
  background: #8eac50;
  color: white;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 16px;
  margin-bottom: 15px;
}
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #8eac50;
  border-radius: 5px;
  outline: none;
  background: rgba(142, 172, 80, 0.03);
}

.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #8eac50;
  border-radius: 5px;
  outline: none;
  background: rgba(142, 172, 80, 0.03);
}

.form-group button {
  background-color: #8eac50;
  color: #ffffff;
  border: none;
  padding: 6px 12px;
  border-radius: 50px;
  width: 75px;
  cursor: pointer;
}

.form-group #cancel {
  color: #8eac50;
  border: none;
  padding: 6px 12px;
  border-radius: 50px;
  width: 100px;
  cursor: pointer;
  background: rgba(142, 172, 80, 0.09);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
}

/* Style for the weekly summary */

.table-wrapper {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.table-container {
  margin-top: 50px;
  /* border: 1px solid #ccc; */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.table-container header {
  background: #8eac50;
  text-align: center;
  color: white;
  padding: 17px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.table-container p {
  margin-bottom: 13px;
}

.table-container p #add-log {
  background: #8eac50;
  color: white;
}

/* Registration Form Styles */

.registration-wrapper {
  min-height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-image: linear-gradient(
      rgba(244, 249, 244, 0.7),
      rgba(244, 249, 244, 0.7)
    ),
    url("https://images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg");
  background-size: cover;
  background-position: center;
}

.registration-container {
  padding: 15px 40px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  width: 350px;
}

.registration-container button {
  width: 100%;
  text-align: center;
  padding: 10px 15px;
  background-color: #8eac50;
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.registration-container #login-logo {
  text-align: center;
  padding-bottom: 20px;
}

.errorlist {
  list-style-type: none;
  margin-bottom: 3px;
  padding: 2px 5px;
  color: crimson;
  background-color: rgb(228, 200, 200);
  border-radius: 4px;
}

/* Login Form Styles */

.login-wrapper {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-image: linear-gradient(
      rgba(244, 249, 244, 0.7),
      rgba(244, 249, 244, 0.7)
    ),
    url("https://images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg");
  background-size: cover;
  background-position: center;
}

.login-container {
  /* margin-top: 20px; */
  /* border: 1px solid #ccc; */
  padding: 15px 40px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

/* .login-container form{
  padding: 9px 18px;
} */
.login-container label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #8eac50;
}

.login-container .input-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border: 1px solid #8eac50;
  border-radius: 5px;
  padding: 5px;
}

.login-container .input-container input {
  padding: 5px;
  border: none;
  outline: none;
}
.icon {
  margin-right: 10px;
  padding: 5px 9px;
  color: #8eac50;
  border-right: 1px solid #8eac50;
  line-height: 7px;
}

.login-container button {
  width: 100%;
  text-align: center;
  padding: 10px 15px;
  background-color: #8eac50;
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.login-container #registation-link {
  text-align: center;
}

.login-container #registation-link a {
  color: #8eac50;
}

.login-container #login-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.login-container hr {
  color: #8eac50;
}

#or {
  position: relative;
  text-align: center;
  margin: 20px 0;
  font-size: 9px;
  color: #8eac50;
}

#or::before,
#or::after {
  content: "";
  display: inline-block;
  width: 30%;
  border: 1px solid #8eac50;
}

#or::before {
  margin-right: 10px;
}

#or::after {
  margin-left: 10px;
}

.hidden {
  display: none;
}

/* Student registration Styles */
.profile-header {
  display: flex;
  justify-content: center;
  color: #8eac50;
}

.profile-header i {
  font-size: 25px;
}
.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px 40px;
  box-sizing: border-box;
  background: #eff5e5;
}

.profile-image {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 3px solid #8eac50;
}

.profile-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.profile-details {
  margin-left: 30px;
  border-left: 2px solid #8eac50;
  padding-left: 25px;
}

.profile-details h1 {
  font-size: 24px;
  margin: 0;
}

.profile-details p {
  margin: 5px 0;
  font-size: 16px;
}

.student-wrapper {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.student-container {
  margin-top: 50px;
  /* border: 1px solid #ccc; */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.student-container form {
  max-height: 400px;
  overflow-y: scroll;
  padding-right: 20px;
  padding-left: 12px;
}

.student-container form::-webkit-scrollbar {
  width: 2px;
}

.student-container form::-webkit-scrollbar-thumb {
  background-color: #8eac50;
  border-radius: 5px;
  margin: 2px;
}
.student-container .header {
  background: #8eac50;
  text-align: center;
  color: white;
  padding: 17px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.student-container .center-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.student-container .center-button button {
  background: #8eac50;
  color: white;
  padding: 8px;
  width: 144px;
  border-radius: 30px;
}
#summary {
  display: flex;
}

.search-container {
  display: flex;
  border-radius: 30px;
}

.search-container select {
  margin-right: 0px;
  border-radius: 1px;
}
.search-container button {
  border-radius: 1px;
}

.centered {
  padding: 10px 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.267);
}

.upload-cover {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
}

.upload-wrapper {
  width: 430px;
  padding: 40px;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
}

.upload-wrapper header {
  color: #8eac50;
  font-size: 27px;
  font-weight: 600;
  text-align: center;
}

.upload-wrapper form {
  height: 167px;
  display: flex;
  margin: 30px 0;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 2px dashed #8eac50;
  flex-direction: column;
}

.upload-wrapper form :where(i, p) {
  color: #8eac50;
}
.upload-wrapper form i {
  font-size: 50px;
}
.upload-wrapper form p {
  font-size: 16px;
  margin-top: 15px;
}

.upload-wrapper section .row {
  background: #f3ffda;
  margin-bottom: 10px;
  list-style: none;
  padding: 15px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.upload-wrapper section .row i {
  font-size: 25px;
  color: #8eac50;
}

.upload-wrapper section span {
  font-size: 14px;
}

.upload-wrapper .progress-area .row .content {
  width: 90%;
  margin-left: 15px;
}

.upload-wrapper .progress-area .details {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  justify-content: space-between;
  margin-bottom: 4px;
}

.upload-wrapper .progress-area .progress-bar {
  height: 6px;
  width: 100%;
  background: #fff;
  margin-bottom: 4px;
  border-radius: 30px;
}

.upload-wrapper .progress-area .progress {
  height: 100%;
  width: 50%;
  background: #8eac50;
}
.upload-wrapper .uploaded-area .row .content {
  display: flex;
  align-items: center;
}
.upload-wrapper .uploaded-area .row .details {
  display: flex;
  margin-left: 15px;
  flex-direction: column;
}

.upload-wrapper .uploaded-area .details .size {
  color: #404040;
  font-size: 11px;
}
.upload-wrapper .uploaded-area .fa-check {
  color: #8eac50;
  font-size: 16px;
}

/* Company Supervisor Styles */

/* #employer-assessment {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#employer-assessment .wrapper {
  border-radius: 7px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  padding: 50px;
  width: 600px;
} */

/* #employer-assessment table {
  border-collapse: collapse; 
  color: #8eac50;
} */

/* #employer-assessment th,
td {
  border: 1px solid #8eac50;
  vertical-align: middle;
  text-align: center;
} */
/* #employer-assessment td:nth-child(2) {
  text-align: left;
} */
#employer-assessment {
  padding: 10px 20px;
}
#employer-assessment .skills {
  margin-bottom: 50px;
}
#employer-assessment input[type="radio"] {
  margin-right: 10px;
  appearance: none;
  padding: 5px;
  border: 2px solid #e2edcd;
  border-radius: 100%;
  cursor: pointer;
}

#employer-assessment input[type="radio"]:checked {
  background: #8eac50;
}

#employer-assessment .remarks {
  margin-top: 15px;
}

#employer-assessment textarea {
  width: 100%;
  max-width: 700px;
  border: 1px solid #8eac50;
  border-radius: 2px;
}

#employer-assessment textarea:focus {
  outline-color: #8eac50;
  border-radius: 5px;
}

#employer-assessment .submit-btn {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#employer-assessment .submit-btn button {
  background: #8eac50;
  color: #ffffff;
  border-radius: 10px;
  padding: 7px;
  width: 100%;
  border: none;
  cursor: pointer;
}

#employer-assessment .results {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  padding: 15px 30px;
  border-radius: 10px;
}

#orgs-assement-table th,
td {
  border: solid black;
  vertical-align: middle;
  text-align: justify;
}

/* Staff login styles */

.staff-login-wrapper {
  height: 70vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.staff-login-wrapper .staff-login-container {
  padding: 20px 25px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  width: 300px;
}

.staff-login-container .header {
  background-color: #8eac50;
  color: white;
  text-align: center;
  padding: 10px 15px;
  width: 100%;
  margin-bottom: 10px;
}

.staff-login-container .form-group {
  width: 100%;
}

.staff-login-container .form-group > input {
  width: inherit;
}

.staff-login-container .submit-button {
  display: flex;
  justify-content: center;
}

.staff-login-container .submit-button button {
  background: #8eac50;
  color: #ffffff;
  border-radius: 10px;
  padding: 7px;
  width: 50%;
  border: none;
  cursor: pointer;
}

.staff-login-container .submit-button button:focus {
  outline: none;
  background: #ffffff;
  color: #8eac50;
}

#orgs-logbook-assessment {
  display: flex;
  justify-content: center;
}

#item-list {
  margin-top: 5px;
}
.item-list li {
  border: 1px solid rgb(191, 191, 241);
  font-style: italic;
  text-transform: capitalize;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}
/* Styling for the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 150px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 2px;
}

/* Styling for the dropdown items */
.dropdown-item {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: #333;
}

/* Hover effect for dropdown items */
.dropdown-item:hover {
  background-color: #ddd;
}

.lec-assessment {
  width: 8%;
}

.submit-btn {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.submit-btn button {
  background: #8eac50;
  color: #ffffff;
  border-radius: 10px;
  padding: 7px;
  width: 100%;
  border: none;
  cursor: pointer;
}

.remarks textarea {
  width: 100%;
  border: 1px solid #8eac50;
}

.remarks textarea:focus {
  outline: #8eac50;
}

.internship-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  min-width: 700px;
  margin-left: 270px;
  flex-direction: column;
}

.mycard{
  width: 100%;
  max-height: 150px;
  padding: 20px;
  cursor: pointer;
  border-radius: 7px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  margin-bottom: 7px;
  

}
.mycard img {
  border-radius: 50%;
  margin-right: 12px;
 
}

.mycard .top-div {
  display: flex; 
  width: 99%;
}

.mycard .bottom-div{
  display: flex;
  margin-top: 10px;
}

/* styles.css or your preferred stylesheet */
.messages {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  
}

.success {
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  color: #3c763d;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.error {
  background-color: #f2dede;
  border: 1px solid #ebccd1;
  color: #a94442;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.info {
  background-color: #d9edf7;
  border: 1px solid #bce8f1;
  color: #31708f;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.warning {
  background-color: #fcf8e3;
  border: 1px solid #faebcc;
  color: #8a6d3b;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

#lec-selector::placeholder{
  font-style: italic;
  opacity: 0.3; /* Adjust the opacity to control the fading effect */
}
