{% load static %}  
{% load crispy_forms_tags%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
    <link rel="stylesheet" href="{% static 'css/index.css'%}" />
  </head>

  <body>
    <div class="">
        <div class="sidebar">
            <header>SCIT</header>
            <ul>
                <li><a href="#"><i class="fa-sharp fa-solid fa-clipboard-list"></i>Register</a></li>
                <li><a href="#"><i class="fa-solid fa-briefcase"></i>Internship</a></li>
                <li><a href="#"><i class="fa-solid fa-list-check"></i>E-LogBook</a></li>
                <li><a href="#"><i class="fa-sharp fa-solid fa-pen-to-square"></i>Reports</a></li>
                <li><a href="#"><i class="fa-solid fa-person-chalkboard"></i>Supervision</a></li>
                <li><a href="#"><i class="fa-solid fa-power-off"></i>Logout</a></li>
            </ul>
        </div>  
    </div>

    {% block scripts%}
    <!-- Bootstrap 4 JS (Popper.js included) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% endblock %}
  </body>
</html>
